<div class="dummy-notification-container">
  {{#each notifications as |notification|}}
      {{notification-message notification=notification}}
  {{/each}}
</div>

<h2>frost-button</h2>

<div class="example">
  <div class="title">Primary</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small primary'}}
      <div class='text'>Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small primary'}}
  <div class='text'>Action</div>
{{/frost-button}}```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Secondary</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small secondary'}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small secondary'}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Tertiary</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small tertiary'}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small tertiary'}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Small</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small primary'}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small primary'}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Medium</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='medium primary'}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='medium primary'}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Large</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='large primary'}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='large primary'}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Disabled</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small primary' disabled=true}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small primary' disabled=true}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Autofocus</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small primary' autofocus=true}}
      <div class="text">Action</div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small primary' autofocus=true}}
  <div class=\"text\">Action</div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Icon Small</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='small primary'}}
      <div class="icon">
        <svg class="frost-svg" viewBox="55 0 40 40">
          <rect x="57.9" y="17.9" fill="#FFFFFF" width="33.3" height="4.1"></rect>
          <rect x="72.5" y="3.3" fill="#FFFFFF" width="4.1" height="33.3"></rect>
        </svg>
      </div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='small primary'}}
  <div class=\"icon\">
    <svg class=\"frost-svg\" viewBox=\"55 0 40 40\">
      <rect x=\"57.9\" y=\"17.9\" fill=\"#FFFFFF\" width=\"33.3\" height=\"4.1\"></rect>
      <rect x=\"72.5\" y=\"3.3\" fill=\"#FFFFFF\" width=\"4.1\" height=\"33.3\"></rect>
    </svg>
  </div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Icon Medium</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='medium primary'}}
      <div class="icon">
        <svg class="frost-svg" viewBox="55 0 40 40">
          <rect x="57.9" y="17.9" fill="#FFFFFF" width="33.3" height="4.1"></rect>
          <rect x="72.5" y="3.3" fill="#FFFFFF" width="4.1" height="33.3"></rect>
        </svg>
      </div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='medium primary'}}
  <div class=\"icon\">
    <svg class=\"frost-svg\" viewBox=\"55 0 40 40\">
      <rect x=\"57.9\" y=\"17.9\" fill=\"#FFFFFF\" width=\"33.3\" height=\"4.1\"></rect>
      <rect x=\"72.5\" y=\"3.3\" fill=\"#FFFFFF\" width=\"4.1\" height=\"33.3\"></rect>
    </svg>
  </div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Icon Large</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='large primary'}}
      <div class="icon">
        <svg class="frost-svg" viewBox="55 0 40 40">
          <rect x="57.9" y="17.9" fill="#FFFFFF" width="33.3" height="4.1"></rect>
          <rect x="72.5" y="3.3" fill="#FFFFFF" width="4.1" height="33.3"></rect>
        </svg>
      </div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='large primary'}}
  <div class=\"icon\">
    <svg class=\"frost-svg\" viewBox=\"55 0 40 40\">
      <rect x=\"57.9\" y=\"17.9\" fill=\"#FFFFFF\" width=\"33.3\" height=\"4.1\"></rect>
      <rect x=\"72.5\" y=\"3.3\" fill=\"#FFFFFF\" width=\"4.1\" height=\"33.3\"></rect>
    </svg>
  </div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Icon and Info</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='extra-large primary'}}
      <div class="info">
        <svg class="frost-svg" viewBox="55 0 40 40">
          <rect x="57.9" y="17.9" fill="#FFFFFF" width="33.3" height="4.1"></rect>
          <rect x="72.5" y="3.3" fill="#FFFFFF" width="4.1" height="33.3"></rect>
        </svg>
        <div class='content'>
          <div class='alias'>Info alias</div>
          <div class='details'>Info details</div>
        </div>
      </div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='extra-large primary'}}
  <div class=\"info\">
    <svg class=\"frost-svg\" viewBox=\"55 0 40 40\">
      <rect x=\"57.9\" y=\"17.9\" fill=\"#FFFFFF\" width=\"33.3\" height=\"4.1\"></rect>
      <rect x=\"72.5\" y=\"3.3\" fill=\"#FFFFFF\" width=\"4.1\" height=\"33.3\"></rect>
    </svg>
    <div class='content'>
      <div class='alias'>Info alias</div>
      <div class='details'>Info details</div>
    </div>
  </div>
{{/frost-button}}
```"
    }}
  </div>
</div>

<div class="example">
  <div class="title">Icon and Text</div>
  <div class="demo">
    {{#frost-button on-click=(action 'click') class='medium primary'}}
      <div class="icon-text text">
        <svg class="frost-svg" viewBox="55 0 40 40">
          <rect x="57.9" y="17.9" fill="#FFFFFF" width="33.3" height="4.1"></rect>
          <rect x="72.5" y="3.3" fill="#FFFFFF" width="4.1" height="33.3"></rect>
        </svg>
        <div class="text">Text</div>
      </div>
    {{/frost-button}}
  </div>
  <div class="code">
    {{format-markdown "```handlebars
{{#frost-button on-click=(action 'click') class='medium primary'}}
  <div class=\"icon-text text\">
    <svg class=\"frost-svg\" viewBox=\"55 0 40 40\">
      <rect x=\"57.9\" y=\"17.9\" fill=\"#FFFFFF\" width=\"33.3\" height=\"4.1\"></rect>
      <rect x=\"72.5\" y=\"3.3\" fill=\"#FFFFFF\" width=\"4.1\" height=\"33.3\"></rect>
    </svg>
    <div class=\"text\">Text</div>
  </div>
{{/frost-button}}
```"
    }}
  </div>
</div>
